language: c
addons:
  apt:
    packages:
      - build-essential
      - autotools-dev
      - automake
      - equivs
      - dh-autoreconf
      - devscripts
      - ca-certificates
      - pristine-tar
      - dpkg
      - dpkg-dev
matrix:
  include:
    - os: linux
      dist: bionic
    - os: linux
      dist: xenial
    - os: linux
      dist: trusty
script:
  - dpkg-source -x libressl_3.0.2-2.dsc
  - cd libressl-3.0.2
  - dpkg-buildpackage -uc -us -b -d
